.content {
  display: flex;
  flex-wrap: wrap;
}
.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
  width: 100%;
}
.header__menu {
  display: none;
}

    @media screen and (max-width: 530px) {
      .header__logo {
        height: 36px;
        margin-right: 0.5em;
      }
      .header__title {
          font-size: 2em;
          line-height: 2em;
          vertical-align: text-bottom;
        }
          .nav {
            z-index: 10;
            background-color: #fff;
            width: 300px;
            position: absolute;
            /* This trasform moves the drawer off canvas. */
            -webkit-transform: translate(-300px, 0);
            transform: translate(-300px, 0);
            /* Optionally, we animate the drawer. */
            transition: transform 0.3s ease;
          }
          .nav.open {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
          }
          .nav__item {
            display: list-item;
            border-bottom: 1px solid #E0E0E0;
            width: 100%;
            text-align: left;
          }
          .header__menu {
            display: inline-block;
            position: absolute;
            right: 0;
            padding: 1em;
          }
          .header__menu svg {
            width: 32px;
            fill: #E0E0E0;
          }
    }
    @media screen and (min-width: 580px) {
        .hero {
          width: 70%;
          order: 1;
        }
        .weather {
          width: 30%;
          order: 2;
        }
        .top-news {
          width: 50%;
          order: 4;
        }
        .scores {
          width: 50%;
          order: 3;
        }

    }
    @media screen and (min-width: 830px) {
      main, .content, .header__inner {
      width: 830px;
      margin-left: auto;
      margin-right: auto;
      }
    }
